/* line 1, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 7, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
html {
  background-color: #ebebeb;
}

/* line 11, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
body {
  display: block;
  position: relative;
}

/* line 16, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
html, body, div, header,
nav, aside, article, section,
footer, p, span, h1,
h2, h3, h4, h5, h6,
figure, figcaption, fieldset,
input, button, ul, li,
label {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: 400;
}

/* line 32, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
a, a:visited, a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* line 36, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
a:hover, a:visited:hover, a:active:hover {
  color: #ce5351;
}

/* line 41, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

/* line 45, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#content_wrapper {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto', 'Arial', sans-serif;
}

/* line 53, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_header {
  position: relative;
  width: 100%;
  height: 95px;
  background-color: #fff;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 82.5px;
}

/* line 62, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_header img {
  float: left;
  padding: 5px 30px;
}

/* line 67, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_header a#user_avatar {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 76, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_header a#user_avatar img {
  margin: 0;
  padding: 0;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 88, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_menu {
  position: relative;
}

/* line 90, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_menu .main_nav_link {
  display: inline-block;
  padding: 0;
  color: #2b2b2b;
  margin: 35px 10px;
  font-size: 25px;
  line-height: 25px;
}

/* line 97, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_menu .main_nav_link:hover, #main_menu .main_nav_link.active {
  color: #ce5351;
}

/* line 102, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_menu .subnav {
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

/* line 106, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_menu .subnav > div.active {
  display: block !important;
}

/* line 109, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_menu .subnav .subnav-content {
  display: none;
  position: absolute;
  left: 0;
  top: 105px;
  width: calc(100% - 40px);
  min-height: 24px;
  background-color: #fff;
  padding: 20px 20px;
  text-align: center;
}

/* line 119, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_menu .subnav .subnav-content a {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
  color: #2b2b2b;
  font-size: 20px;
  line-height: 20px;
}

/* line 126, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_menu .subnav .subnav-content a.active, #main_menu .subnav .subnav-content a:hover {
  color: #ce5351;
}

/* line 134, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#side_menu {
  position: relative;
  width: 420px;
  background-color: #fff;
  margin-top: 30px;
  float: left;
  text-align: center;
  padding: 25px 0;
}

/* line 142, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#side_menu .side_image_links {
  display: block;
  width: 365px;
  line-height: 0;
  margin: 0 auto 20px auto;
}

/* line 147, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#side_menu .side_image_links:first-child,
#side_menu .side_image_links:first-child .side_img_link {
  width: 365px;
  height: 92px;
}

/* line 152, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#side_menu .side_image_links .side_img_link {
  margin: 0;
  padding: 0;
  width: 365px;
  height: 100px;
}

/* line 159, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#side_menu #social_links {
  width: 362px;
  margin: 20px auto;
  padding-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ededed;
}

/* line 166, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#side_menu #social_links > span {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #eb5252;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 10px;
}

/* line 176, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#side_menu #social_links > a {
  display: inline-block;
  margin: 5px 10px;
}

/* line 181, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#side_menu #notice {
  display: flex;
  width: 365px;
  height: 500px;
  background-color: #eb5252;
  color: #fff;
  margin: 20px auto;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

/* line 192, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#side_menu #notice p {
  font-size: 30px;
  line-height: 30px;
}

/* line 197, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#side_menu #twitter_block {
  width: 365px;
  height: 500px;
  margin: 20px auto 0 auto;
}

/* line 204, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content_top {
  position: relative;
  width: calc(100% - 450px);
  height: 150px;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 30px;
  float: right;
}

/* line 212, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content_top #notice_top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
  background-color: #eb5252;
  float: left;
}

/* line 221, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content_top #notice_top p {
  font-size: 30px;
  line-height: 30px;
  color: #fff;
}

/* line 227, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content_top #search {
  text-align: center;
  width: 50%;
  float: right;
}

/* line 231, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content_top #search > p {
  color: #3c3c3c;
  font-size: 25px;
  margin: 20px 0 5px 0;
  padding: 0;
}

/* line 237, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content_top #search input {
  width: 75%;
  height: 40px;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #ededed;
  color: #aeaeae;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 20px;
}

/* line 246, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content_top #search input:focus {
  color: #3c3c3c;
}

/* line 253, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content {
  position: relative;
  width: calc(100% - 510px);
  background-color: #fff;
  margin-top: 30px;
  margin-left: 30px;
  padding: 30px;
  float: right;
}

/* line 261, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block {
  position: inherit;
  border-bottom: 5px solid #ededed;
  margin-bottom: 30px;
  min-height: 350px;
}

/* line 266, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block:last-child {
  margin-bottom: 0;
}

/* line 269, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block > img {
  width: 220px;
  height: 320px;
  float: left;
  border: 5px solid #ededed;
  border-radius: 10px;
  margin-right: 10px;
}

/* line 277, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block header {
  position: inherit;
  width: 100%;
}

/* line 280, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block header span {
  background-color: #eb5252;
  color: #fff;
  margin-right: 5px;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 16px;
  line-height: 16px;
  float: left;
}

/* line 290, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block header h1 {
  font-size: 25px;
  line-height: 25px;
  color: #eb5252;
}

/* line 296, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block div {
  margin-top: 20px;
}

/* line 298, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block div > p {
  color: #3c3c3c;
  width: 100%;
}

/* line 301, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block div > p span {
  color: #3c3c3c;
}

/* line 304, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block div > p a {
  color: #eb5252;
}

/* line 308, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block div .torr-buttons {
  position: absolute;
  bottom: 65px;
  right: 0;
}

/* line 312, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block div .torr-buttons a {
  float: left;
  display: block;
  background-color: #eb5252;
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  margin-right: 10px;
  padding: 10px;
  text-transform: uppercase;
}

/* line 322, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block div .torr-buttons a:hover {
  background-color: #ce5351;
}

/* line 328, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block footer {
  border-top: 5px solid #ededed;
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 5px;
  margin-top: 15px;
  padding-top: 5px;
}

/* line 336, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block footer p {
  float: right;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 0;
  color: #3c3c3c;
}

/* line 342, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block footer p b {
  margin-left: 5px;
}

/* line 345, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .anime_block footer p span {
  color: #eb5252;
}

/* line 351, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .news_block {
  position: inherit;
  margin-bottom: 30px;
}

/* line 354, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .news_block:last-child {
  margin-bottom: 0;
}

/* line 357, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .news_block header {
  position: inherit;
  width: 100%;
}

/* line 360, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .news_block header h1 {
  font-size: 25px;
  line-height: 27px;
  color: #eb5252;
}

/* line 366, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .news_block div {
  margin-top: 20px;
}

/* line 369, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .news_block footer {
  border-top: 5px solid #ededed;
  border-bottom: 5px solid #ededed;
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 5px;
  margin-top: 15px;
  padding: 5px 0;
}

/* line 378, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .news_block footer p {
  float: right;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 0;
  color: #3c3c3c;
}

/* line 384, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .news_block footer p b {
  margin-left: 5px;
}

/* line 387, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_content .news_block footer p span {
  color: #eb5252;
}

/* line 395, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_footer {
  position: relative;
  width: 100%;
  height: 330px;
  background-color: #b34050;
  margin-top: 30px;
  color: #fff;
}

/* line 402, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_footer #copyrights {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  text-align: center;
  font-size: 15px;
  background-color: #9b303f;
}

/* line 412, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_footer #footer_left {
  position: relative;
  width: 50%;
  height: 230px;
  padding: 30px 0 0 30px;
}

/* line 417, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_footer #footer_left p {
  margin: 5px 0;
  font-size: 15px;
  line-height: 15px;
}

/* line 422, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#main_footer #footer_left span {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
}

/* line 430, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#user_dropdown_menu {
  position: absolute;
  top: 105px;
  right: 0;
  background: #fff;
  border: 3px solid #ce5351;
  display: none;
  width: 150px;
  padding: 10px;
  text-align: center;
  z-index: 2;
}

/* line 441, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#user_dropdown_menu span {
  display: block;
  font-size: 25px;
  line-height: 25px;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

/* line 449, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#user_dropdown_menu a {
  display: block;
  padding: 0;
  margin: 5px 0;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  line-height: 20px;
  color: #eb5252;
}

/* line 459, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#user_dropdown_menu:after, #user_dropdown_menu:before {
  bottom: 100%;
  left: 105px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 469, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#user_dropdown_menu:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}

/* line 475, C:/Users/User/Desktop/GitHub/anilibria/sass/style.scss */
#user_dropdown_menu:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #ce5351;
  border-width: 19px;
  margin-left: -19px;
}

/*# sourceMappingURL=../css/style.map */