/* line 1, D:/GitHub Projects/anilibria/sass/style.scss */
html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 7, D:/GitHub Projects/anilibria/sass/style.scss */
html {
  background-color: #ebebeb;
}

/* line 11, D:/GitHub Projects/anilibria/sass/style.scss */
body {
  display: block;
  position: relative;
}

/* line 16, D:/GitHub Projects/anilibria/sass/style.scss */
html, body, div, header,
nav, aside, article, section,
footer, p, span, h1,
h2, h3, h4, h5, h6,
figure, figcaption, fieldset,
input, button, ul, li,
label {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: 400;
}

/* line 32, D:/GitHub Projects/anilibria/sass/style.scss */
a, a:visited, a:active {
  text-decoration: none;
  outline: none;
  color: #eb5252;
}

/* line 36, D:/GitHub Projects/anilibria/sass/style.scss */
a:hover, a:visited:hover, a:active:hover {
  color: #ce5351;
}

/* line 41, D:/GitHub Projects/anilibria/sass/style.scss */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

/* line 45, D:/GitHub Projects/anilibria/sass/style.scss */
#content_wrapper {
  width: 1200px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto', 'Arial', sans-serif;
}

/* line 53, D:/GitHub Projects/anilibria/sass/style.scss */
#main_header {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #fff;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 62px;
}

/* line 61, D:/GitHub Projects/anilibria/sass/style.scss */
#main_header > img {
  float: left;
  width: 226px;
  height: 60px;
  padding: 5px 30px;
}

/* line 68, D:/GitHub Projects/anilibria/sass/style.scss */
#main_header a#user_avatar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 77, D:/GitHub Projects/anilibria/sass/style.scss */
#main_header a#user_avatar img {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 89, D:/GitHub Projects/anilibria/sass/style.scss */
#main_menu {
  position: relative;
}

/* line 91, D:/GitHub Projects/anilibria/sass/style.scss */
#main_menu .main_nav_link {
  display: inline-block;
  padding: 0;
  color: #2b2b2b;
  margin: 25px 10px;
  font-size: 20px;
  line-height: 20px;
}

/* line 98, D:/GitHub Projects/anilibria/sass/style.scss */
#main_menu .main_nav_link:hover, #main_menu .main_nav_link.active {
  color: #ce5351;
}

/* line 103, D:/GitHub Projects/anilibria/sass/style.scss */
#main_menu .subnav {
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

/* line 107, D:/GitHub Projects/anilibria/sass/style.scss */
#main_menu .subnav > div.active {
  display: block !important;
}

/* line 110, D:/GitHub Projects/anilibria/sass/style.scss */
#main_menu .subnav .subnav-content {
  display: none;
  position: absolute;
  left: 0;
  top: 80px;
  width: calc(100% - 20px);
  min-height: 22px;
  background-color: #fff;
  padding: 10px 10px;
  text-align: center;
}

/* line 120, D:/GitHub Projects/anilibria/sass/style.scss */
#main_menu .subnav .subnav-content a {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
  color: #2b2b2b;
  font-size: 16px;
  line-height: 16px;
}

/* line 127, D:/GitHub Projects/anilibria/sass/style.scss */
#main_menu .subnav .subnav-content a.active, #main_menu .subnav .subnav-content a:hover {
  color: #ce5351;
}

/* line 135, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu {
  position: relative;
  width: 285px;
  background-color: #fff;
  margin-top: 15px;
  float: left;
  text-align: center;
  padding: 10px 0;
}

/* line 143, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu .side_image_links {
  display: block;
  width: 270px;
  height: 82px;
  line-height: 0;
  margin: 0 auto 10px auto;
}

/* line 149, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu .side_image_links:first-child,
#side_menu .side_image_links:first-child .side_img_link {
  width: 270px;
  height: 68px;
}

/* line 154, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu .side_image_links .side_img_link {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 82px;
}

/* line 161, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu #social_links {
  width: 270px;
  margin: 10px auto;
  padding-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f3f3f3;
}

/* line 168, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu #social_links > span {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #eb5252;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

/* line 178, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu #social_links > a {
  display: inline-block;
  margin: 5px 10px;
}

/* line 181, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu #social_links > a img {
  width: 60px;
  height: 60px;
}

/* line 187, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu #notice {
  display: flex;
  width: 270px;
  height: 369px;
  background-color: #eb5252;
  color: #fff;
  margin: 10px auto;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

/* line 198, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu #notice p {
  font-size: 25px;
  line-height: 25px;
}

/* line 203, D:/GitHub Projects/anilibria/sass/style.scss */
#side_menu #twitter_block {
  width: 270px;
  height: 500px;
  margin: 10px auto 0 auto;
}

/* line 210, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content_top {
  position: relative;
  width: calc(100% - 300px);
  height: 120px;
  background-color: #fff;
  margin-top: 15px;
  margin-left: 15px;
  float: right;
}

/* line 218, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content_top #notice_top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 100%;
  background-color: #eb5252;
  float: left;
}

/* line 227, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content_top #notice_top p {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

/* line 233, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content_top #search {
  text-align: center;
  width: 40%;
  float: right;
}

/* line 237, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content_top #search > p {
  color: #3c3c3c;
  font-size: 20px;
  line-height: 20px;
  margin: 20px 0 5px 0;
  padding: 0;
}

/* line 244, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content_top #search input {
  width: 75%;
  height: 40px;
  background-color: #f3f3f3;
  color: #aeaeae;
  font-size: 16px;
  line-height: 16px;
  border-radius: 10px;
  padding: 10px 20px;
}

/* line 253, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content_top #search input:focus {
  color: #3c3c3c;
}

/* line 260, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content {
  position: relative;
  width: calc(100% - 330px);
  background-color: #fff;
  margin-top: 15px;
  margin-left: 15px;
  padding: 15px;
  float: right;
}

/* line 268, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block {
  position: inherit;
  border-bottom: 5px solid #ededed;
  margin-bottom: 15px;
  min-height: 350px;
}

/* line 273, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block:last-child {
  margin-bottom: 0;
}

/* line 276, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block > img {
  width: 220px;
  height: 320px;
  float: left;
  border: 5px solid #ededed;
  border-radius: 10px;
  margin-right: 10px;
}

/* line 284, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block header {
  position: inherit;
  width: 100%;
}

/* line 287, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block header span {
  background-color: #eb5252;
  color: #fff;
  margin-right: 5px;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 12px;
  float: left;
}

/* line 297, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block header h1 {
  font-size: 20px;
  line-height: 20px;
  color: #eb5252;
}

/* line 303, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block div {
  margin-top: 10px;
}

/* line 305, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block div > p {
  color: #3c3c3c;
  width: 100%;
  font-size: 14px;
}

/* line 309, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block div > p span {
  color: #3c3c3c;
}

/* line 312, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block div > p a {
  color: #eb5252;
}

/* line 316, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block div .torr-buttons {
  position: absolute;
  bottom: 60px;
  right: 0;
}

/* line 320, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block div .torr-buttons a {
  float: left;
  display: block;
  background-color: #eb5252;
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  margin-right: 10px;
  padding: 10px;
  text-transform: uppercase;
}

/* line 330, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block div .torr-buttons a:hover {
  background-color: #ce5351;
}

/* line 336, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block footer {
  border-top: 5px solid #ededed;
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-top: 5px;
}

/* line 344, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block footer p {
  float: right;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0;
  color: #3c3c3c;
}

/* line 350, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block footer p b {
  margin-left: 5px;
}

/* line 353, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .anime_block footer p span {
  color: #eb5252;
}

/* line 359, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .news_block {
  position: inherit;
  margin-bottom: 15px;
}

/* line 362, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .news_block:last-child {
  margin-bottom: 0;
}

/* line 365, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .news_block header {
  position: inherit;
  width: 100%;
}

/* line 368, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .news_block header h1 {
  font-size: 20px;
  line-height: 20px;
  color: #eb5252;
}

/* line 374, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .news_block div {
  margin-top: 10px;
}

/* line 376, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .news_block div > p {
  font-size: 14px;
}

/* line 380, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .news_block footer {
  border-top: 5px solid #ededed;
  border-bottom: 5px solid #ededed;
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 5px 0;
}

/* line 389, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .news_block footer p {
  float: right;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0;
  color: #3c3c3c;
}

/* line 395, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .news_block footer p b {
  margin-left: 5px;
}

/* line 398, D:/GitHub Projects/anilibria/sass/style.scss */
#main_content .news_block footer p span {
  color: #eb5252;
}

/* line 406, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec {
  text-align: center;
}

/* line 408, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec h1, #user_log_reg_rec h2 {
  font-size: 25px;
  line-height: 25px;
  color: #3c3c3c;
  margin-bottom: 20px;
}

/* line 414, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec hr {
  border: 3px solid #f8f8f8;
  margin: 20px 0;
}

/* line 418, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec input, #user_log_reg_rec .a_button {
  margin: 10px auto;
}

/* line 421, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec #hidden_captcha {
  display: block;
  margin: 10px 0;
}

/* line 425, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec input[type="text"],
#user_log_reg_rec input[type="email"],
#user_log_reg_rec input[type="password"] {
  display: block;
  width: 200px;
  height: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #848484;
}

/* line 436, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec input[type="submit"] {
  display: block;
  width: 240px;
  height: 40px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 17px;
  line-height: 17px;
  background-color: #f36767;
  cursor: pointer;
  color: #fff;
}

/* line 447, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec input[type="submit"]:hover {
  background-color: #ce5351;
}

/* line 450, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec input[type="submit"]:active {
  transform: translateY(1px);
}

/* line 455, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec .a_button {
  display: block;
  width: 200px;
  height: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 17px;
  line-height: 17px;
  background-color: #f36767;
  color: #fff;
}

/* line 465, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec .a_button:hover {
  background-color: #ce5351;
}

/* line 469, D:/GitHub Projects/anilibria/sass/style.scss */
#user_log_reg_rec .oauth_links {
  margin: 5px 40px;
}

/* line 474, D:/GitHub Projects/anilibria/sass/style.scss */
#main_footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #b34050;
  margin-top: 15px;
  color: #fff;
}

/* line 481, D:/GitHub Projects/anilibria/sass/style.scss */
#main_footer #copyrights {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  text-align: center;
  font-size: 15px;
  background-color: #9b303f;
}

/* line 491, D:/GitHub Projects/anilibria/sass/style.scss */
#main_footer #footer_left {
  position: relative;
  width: 50%;
  height: 230px;
  padding: 15px 0 0 15px;
}

/* line 496, D:/GitHub Projects/anilibria/sass/style.scss */
#main_footer #footer_left p {
  margin: 5px 0;
  font-size: 15px;
  line-height: 15px;
}

/* line 501, D:/GitHub Projects/anilibria/sass/style.scss */
#main_footer #footer_left span {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
}

/* line 509, D:/GitHub Projects/anilibria/sass/style.scss */
#user_dropdown_menu {
  position: absolute;
  top: 75px;
  right: 0;
  background: #fff;
  border: 3px solid #ce5351;
  display: none;
  width: 120px;
  padding: 10px;
  text-align: center;
  z-index: 2;
}

/* line 520, D:/GitHub Projects/anilibria/sass/style.scss */
#user_dropdown_menu span {
  display: block;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

/* line 528, D:/GitHub Projects/anilibria/sass/style.scss */
#user_dropdown_menu a {
  display: block;
  padding: 0;
  margin: 5px 0;
  text-decoration: none;
  outline: none;
  font-size: 15px;
  line-height: 15px;
  color: #eb5252;
}

/* line 538, D:/GitHub Projects/anilibria/sass/style.scss */
#user_dropdown_menu:after, #user_dropdown_menu:before {
  bottom: 100%;
  left: 107px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 548, D:/GitHub Projects/anilibria/sass/style.scss */
#user_dropdown_menu:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

/* line 554, D:/GitHub Projects/anilibria/sass/style.scss */
#user_dropdown_menu:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #ce5351;
  border-width: 14px;
  margin-left: -14px;
}

/*# sourceMappingURL=../css/style.map */