@media screen and (max-width: 1440px) {
  /* line 2, D:/GitHub Projects/anilibria/sass/width.scss */
  #content_wrapper {
    width: 1200px;
  }
  /* line 5, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_header {
    height: 70px;
    margin-bottom: 62px;
  }
  /* line 8, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_header > img {
    width: 226px;
    height: 60px;
  }
  /* line 12, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_header a#user_avatar {
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
  }
  /* line 17, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_header a#user_avatar img {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
  }
  /* line 26, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_menu .main_nav_link {
    margin: 25px 10px;
    font-size: 20px;
    line-height: 20px;
  }
  /* line 32, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_menu .subnav .subnav-content {
    left: 0;
    top: 80px;
    width: calc(100% - 20px);
    min-height: 22px;
    padding: 10px 10px;
  }
  /* line 38, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_menu .subnav .subnav-content a {
    font-size: 16px;
    line-height: 16px;
  }
  /* line 45, D:/GitHub Projects/anilibria/sass/width.scss */
  #hslider {
    height: 250px;
  }
  /* line 47, D:/GitHub Projects/anilibria/sass/width.scss */
  #hslider .slideshow {
    height: 250px;
  }
  /* line 49, D:/GitHub Projects/anilibria/sass/width.scss */
  #hslider .slideshow .slide {
    height: 250px;
  }
  /* line 54, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu {
    width: 285px;
    margin-top: 15px;
    padding: 10px 0;
  }
  /* line 58, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu .side_image_links {
    width: 270px;
    height: 82px;
    margin: 0 auto 10px auto;
  }
  /* line 62, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu .side_image_links:first-child,
  #side_menu .side_image_links:first-child .side_img_link {
    width: 270px;
    height: 68px;
  }
  /* line 67, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu .side_image_links .side_img_link {
    width: 270px;
    height: 82px;
  }
  /* line 73, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu #social_links {
    width: 270px;
    margin: 10px auto;
    padding-bottom: 5px;
  }
  /* line 77, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu #social_links > span {
    font-size: 20px;
    line-height: 20px;
  }
  /* line 81, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu #social_links > a {
    margin: 5px 10px;
  }
  /* line 83, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu #social_links > a img {
    width: 60px;
    height: 60px;
  }
  /* line 90, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu #notice {
    width: 270px;
    height: 369px;
    margin: 10px auto;
  }
  /* line 94, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu #notice p {
    font-size: 25px;
    line-height: 25px;
  }
  /* line 100, D:/GitHub Projects/anilibria/sass/width.scss */
  #side_menu #twitter_block {
    width: 270px;
    margin: 10px auto 0 auto;
  }
  /* line 106, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content_top {
    width: calc(100% - 300px);
    height: 120px;
    margin-top: 15px;
    margin-left: 15px;
  }
  /* line 112, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content_top #notice_top p {
    font-size: 25px;
    line-height: 25px;
  }
  /* line 118, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content_top #search > p {
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0 5px 0;
    padding: 0;
  }
  /* line 125, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content_top #search input {
    font-size: 15px;
  }
  /* line 130, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content {
    width: calc(100% - 330px);
    margin-top: 15px;
    margin-left: 15px;
    padding: 15px;
  }
  /* line 135, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .anime_block {
    margin-bottom: 15px;
  }
  /* line 137, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .anime_block > img {
    border-radius: 10px;
    margin-right: 10px;
  }
  /* line 142, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .anime_block header span {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 12px;
  }
  /* line 147, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .anime_block header h1 {
    font-size: 20px;
    line-height: 20px;
  }
  /* line 152, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .anime_block div {
    margin-top: 10px;
  }
  /* line 154, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .anime_block div > p {
    font-size: 14px;
  }
  /* line 157, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .anime_block div .torr-buttons {
    bottom: 60px;
  }
  /* line 159, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .anime_block div .torr-buttons a {
    font-size: 15px;
    line-height: 15px;
    margin-right: 10px;
    padding: 10px;
  }
  /* line 167, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .anime_block footer {
    margin-top: 10px;
  }
  /* line 169, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .anime_block footer p {
    font-size: 14px;
    line-height: 14px;
  }
  /* line 175, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .news_block {
    margin-bottom: 15px;
  }
  /* line 178, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .news_block header h1 {
    font-size: 20px;
    line-height: 20px;
    color: #eb5252;
  }
  /* line 184, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .news_block div {
    margin-top: 10px;
  }
  /* line 186, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .news_block div > p {
    font-size: 14px;
  }
  /* line 190, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .news_block footer {
    margin-top: 10px;
    padding: 5px 0;
  }
  /* line 193, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_content .news_block footer p {
    font-size: 14px;
    line-height: 14px;
    padding: 10px 0;
  }
  /* line 201, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_footer {
    height: 300px;
    margin-top: 15px;
  }
  /* line 205, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_footer #copyrights {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
  }
  /* line 211, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_footer #footer_left {
    height: 230px;
    padding: 15px 0 0 15px;
  }
  /* line 214, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_footer #footer_left p {
    margin: 5px 0;
    font-size: 15px;
    line-height: 15px;
  }
  /* line 219, D:/GitHub Projects/anilibria/sass/width.scss */
  #main_footer #footer_left span {
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
  }
}

/*# sourceMappingURL=../css/width.map */