html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: #ebebeb;
}

body {
  display: block;
  position: relative;
}

html, body, div, header,
nav, aside, article, section,
footer, p, span, h1,
h2, h3, h4, h5, h6,
figure, figcaption, fieldset,
input, button, ul, li,
label {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: 400;
}

a, a:visited, a:active {
  text-decoration: none;
  outline: none;
  color: #eb5252;
  &:hover {
    color: #ce5351;
  }
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

#content_wrapper {
  width: 1200px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto', 'Arial', sans-serif;
}

#main_header {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #fff;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 62px;
  >img {
    float: left;
    width: 226px;
    height: 60px;
    padding: 5px 30px;
  }

  a#user_avatar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    img {
      margin: 0;
      padding: 0;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
}

#main_menu {
  position: relative;
  .main_nav_link {
    display: inline-block;
    padding: 0;
    color: #2b2b2b;
    margin: 25px 10px;
    font-size: 20px;
    line-height: 20px;
    &:hover,
    &.active {
      color: #ce5351;
    }
  }
  .subnav {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    > div.active {
      display: block !important;
    }
    .subnav-content {
      display: none;
      position: absolute;
      left: 0;
      top: 80px;
      width: calc(100% - 20px);
      min-height: 22px;
      background-color: #fff;
      padding: 10px 10px;
      text-align: center;
      a {
        display: inline-block;
        margin: 0 20px;
        padding: 0;
        color: #2b2b2b;
        font-size: 16px;
        line-height: 16px;
        &.active, &:hover {
          color: #ce5351;
        }
      }
    }
  }
}

#side_menu {
  position: relative;
  width: 260px;
  background-color: #fff;
  margin-top: 15px;
  float: left;
  text-align: center;
  padding: 10px 0;
  .side_image_links {
    display: block;
    width: 240px;
    height: 72px;
    line-height: 0;
    margin: 0 auto 10px auto;
    &:first-child,
    &:first-child .side_img_link {
      width: 240px;
      height: 60px;
    }
    .side_img_link {
      margin: 0;
      padding: 0;
      width: 240px;
      height: 72px;
    }
  }
  #social_links {
    width: 240px;
	margin: 10px auto;
	padding-bottom: 5px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #f3f3f3;
	> span {
	  display: block;
	  width: 100%;
	  padding: 10px 0;
	  background-color: #eb5252;
	  color: #fff;
	  font-size: 20px;
	  line-height: 20px;
	  margin-bottom: 10px;
	}
	> a {
	  display: inline-block;
	  margin: 5px 10px;
      img {
        width: 50px;
        height: 50px;
      }
	}
  }
  #notice {
    display: flex;
    width: 240px;
    height: 328px;
    background-color: #eb5252;
    color: #fff;
    margin: 10px auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

    p {
      font-size: 25px;
      line-height: 25px;
    }
  }
  #twitter_block {
    width: 240px;
    height: 500px;
    margin: 10px auto 0 auto;
  }
}

#main_content_top {
  position: relative;
  width: calc(100% - 275px);
  height: 120px;
  background-color: #fff;
  margin-top: 15px;
  margin-left: 15px;
  float: right;
  #notice_top {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 56%;
    height: 100%;
    background-color: #eb5252;
    float: left;
    p {
      font-size: 20px;
      line-height: 20px;
      color: #fff;
    }
  }
  #search {
    text-align: center;
    width: 44%;
    float: right;
    >p {
      color: #3c3c3c;
      font-size: 20px;
      line-height: 20px;
      margin: 20px 0 5px 0;
      padding: 0;
    }
    input {
      width: 75%;
      height: 40px;
      background-color: #f3f3f3;
      color: #aeaeae;
      font-size: 16px;
      line-height: 16px;
      border-radius: 10px;
      padding: 10px 20px;
      &:focus {
        color: #3c3c3c;
      }
    }
  }
}

#main_content {
  position: relative;
  width: calc(100% - 305px);
  background-color: #fff;
  margin-top: 15px;
  margin-left: 15px;
  padding: 15px;
  float: right;
  .anime_block {
    position: inherit;
    border-bottom: 5px solid #ededed;
    margin-bottom: 15px;
    min-height: 350px;
    &:last-child {
      margin-bottom: 0;
    }
    > img {
      width: 220px;
      height: 320px;
      float: left;
      border: 5px solid #ededed;
      border-radius: 10px;
      margin-right: 10px;
    }
    header {
      position: inherit;
      width: 100%;
      span {
        background-color: #eb5252;
        color: #fff;
        margin-right: 5px;
        border-radius: 5px;
        padding: 4px 10px;
        font-size: 12px;
        line-height: 12px;
        float: left;
      }
      h1 {
        font-size: 20px;
        line-height: 20px;
        color: #eb5252;
      }
    }
    div {
      margin-top: 10px;
      > p {
        color: #3c3c3c;
        width: 100%;
        font-size: 14px;
        span {
          color: #3c3c3c;
        }
        a {
          color: #eb5252;
        }
      }
      .torr-buttons {
        position: absolute;
        bottom: 60px;
        right: 0;
        a {
          float: left;
          display: block;
          background-color: #eb5252;
          font-size: 15px;
          line-height: 15px;
          color: #fff;
          margin-right: 10px;
          padding: 10px;
          text-transform: uppercase;
          &:hover {
            background-color: #ce5351;
          }
        }
      }
    }
    footer {
      border-top: 5px solid #ededed;
      position: relative;
      width: 100%;
      float: left;
      margin-bottom: 5px;
      margin-top: 10px;
      padding-top: 5px;
      p {
        float: right;
        font-size: 14px;
        line-height: 14px;
        padding: 10px 0;
        color: #3c3c3c;
        b {
            margin-left: 5px;
        }
        span {
          color: #eb5252;
        }
      }
    }
  }
  .news_block {
    position: inherit;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    header {
      position: inherit;
      width: 100%;
      h1 {
        font-size: 20px;
        line-height: 20px;
        color: #eb5252;
      }
    }
    div {
      margin-top: 10px;
      > p {
        font-size: 14px;
      }
    }
    footer {
      border-top: 5px solid #ededed;
      border-bottom: 5px solid #ededed;
      position: relative;
      width: 100%;
      float: left;
      margin-bottom: 5px;
      margin-top: 10px;
      padding: 5px 0;
      p {
        float: right;
        font-size: 14px;
        line-height: 14px;
        padding: 10px 0;
        color: #3c3c3c;
        b {
          margin-left: 5px;
        }
        span {
          color: #eb5252;
        }
      }
    }
  }
}

#user_log_reg_rec {
  text-align: center;
  h1, h2 {
    font-size: 25px;
    line-height: 25px;
    color: #3c3c3c;
    margin-bottom: 20px;
  }
  hr {
    border: 3px solid #f8f8f8;
    margin: 20px 0;
  }
  input, .a_button {
    margin: 10px auto;
  }
  #hidden_captcha {
    display: block;
    margin: 10px 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    display: block;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #848484;
  }
  input[type="submit"] {
    display: block;
    width: 240px;
    height: 40px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    line-height: 17px;
    background-color: #f36767;
    cursor: pointer;
    color: #fff;
    &:hover {
      background-color: #ce5351;
    }
    &:active {
      transform: translateY(1px);
    }

  }
  .a_button {
    display: block;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    line-height: 17px;
    background-color: #f36767;
    color: #fff;
    &:hover {
      background-color: #ce5351;
    }
  }
  .oauth_links {
    margin: 5px 40px;
  }
}

#main_footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #b34050;
  margin-top: 15px;
  color: #fff;
  #copyrights {
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    background-color: #9b303f;
  }
  #footer_left {
    position: relative;
    width: 50%;
    height: 230px;
    padding: 15px 0 0 15px;
    p {
      margin: 5px 0;
      font-size: 15px;
      line-height: 15px;
    }
    span {
      font-size: 25px;
      line-height: 25px;
      font-weight: bold;
    }
  }
}

#user_dropdown_menu {
  position: absolute;
  top: 75px;
  right: 0;
  background: #fff;
  border: 3px solid #ce5351;
  display: none;
  width: 120px;
  padding: 10px;
  text-align: center;
  z-index: 2;
  span {
    display: block;
    font-size: 20px;
    line-height: 20px;
	margin: 0 0 10px 0;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
  }
  a {
    display: block;
    padding: 0;
    margin: 5px 0;
    text-decoration: none;
    outline: none;
    font-size: 15px;
    line-height: 15px;
    color: #eb5252;
  }
  &:after, &:before {
    bottom: 100%;
    left: 107px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ce5351;
    border-width: 14px;
    margin-left: -14px;
  }
}