<tr id="torrentEditTable{id}">
	<td><input id="torrentEditTableID{id}" class="form-control" style="width: 130px;" type="text" value="{id}" readonly></td>
	<td><input id="torrentEditTableSeries{id}" class="form-control" style="margin-left: 5px; width: 130px;" type="text" value="{series}"></td>
	<td><input id="torrentEditTableQuality{id}" class="form-control" style="margin-left: 5px; width: 130px;" type="text" value="{quality}"></td>
	<td><input id="torrentEditTableDate{id}" class="form-control" style="margin-left: 5px; width: 258px;" type="text" value="{date}"></td>
	<td><input id="torrentEditTableDelete{id}" class="form-control" style="margin-left: 5px; width: 130px;" type="text" placeholder="Удалить?"></td>
</tr>
