<style>
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
</style>
<script src='js/jquery.min.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='https://authedmine.com/lib/captcha.min.js' async></script>
<script src='https://www.google.com/recaptcha/api.js?render=__RECAPTCHAKEY__'></script>
<link href='css/bootstrap.min.css'>

<script>
grecaptcha.ready(function() {
grecaptcha.execute('__RECAPTCHAKEY__').then(function(token) {
	$.post('//'+document.domain+'/public/simple_http_filter.php?do=recaptcha', {'g-recaptcha-response': token}, function(json){
		data = JSON.parse(json);
		if(data.mes.status != 'yes'){
			$('#aniCheck').html('reCaptcha test failed.');
			return;
		}
		if(data.mes.score > 0.5){
			location.reload();
			return;
		}else{
			$('#aniCheck').attr('class', 'alert alert-warning');
			$('#aniCheck').html('reCaptcha test failed: score too low.');
			$('#proofCheck').show();
			return;
		}
	});
});
});
function sendProof(token) {
	$.post('//'+document.domain+'/public/simple_http_filter.php?do=coinhive', {'coinhive-captcha-token': token}, function(json){
		if(data.mes.status == 'yes'){
			location.reload();
			return;
		}
	});
}
</script>
<div class='main'>
<div id='aniCheck' class='alert alert-success'>Please wait...</div>
<form id='proofCheck' style='display: none;' action='?' method='post'>	
	<div class='coinhive-captcha' data-hashes='1024' data-key='__COINHIVEKEY__' data-callback='sendProof'>
		<em>Loading Captcha...<br>
		If it does not load, please disable Adblock!</em>
	</div>
</form>
</div>
