.{header} {
	width: 1175px;
	height: 215px;
	background: url('{img}');
	background-repeat: no-repeat;
}
.{main} {
	margin-top: 15px;
}
.{content} {
	width: 880px;
	float: left;
	background-color: #D3D3D3;
}
.{side} {
	width: 280px;
	min-height: 1580px;
	float: right;
	background-color: #383838;
}
.{footer} {
	bottom: 0;
	margin-top: 15px;
	background-color: #383838;
	width: 1175px;
	height: 100px;
}
.{footer} a {
	color: #ddd;
}
.{link} a{
	display:block; 
	width:200px; 
	height:66px; 
	position:absolute; 
	margin-left: auto; 
	margin-right: auto;
	//left: 0;
	left: -195px;
	right: 0; 
	top: 130px;
}
