<div class="news-block">
	<div class="news-header"></div>
	<div class="detail_torrent_info">
		<h1 class="release-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 0px;">
			{name}
		</h1>
		<hr class="poloska-detail" style="margin-top: 7px; margin-bottom: 7px;">
		<b>Год:</b> {year}<br>
		<b>Тип:</b> {type}<br>
		<b>Жанры:</b> {genre}<br>
		<b>Озвучка:</b> {voice}<br>
		<b>Работа над релизом:</b> {other}<br>
		<hr class="poloska-detail" style="margin-top: 7px; margin-bottom: 7px;">
		<p class="detail-description">{description}</p>
	</div>
	<div class="detail_torrent_side">
		<div id="nextserial" style="display: block;">
			<a href="" id="releaseAnnounce" data-change-announce style="color: white; text-decoration: none;">{announce}</a>
			<input type="hidden" id="releaseID" value="{id}">
		</div>
		<div class="detail_pic_corner">
			<img class="detail_torrent_pic" border="0" src="/upload/release/{img}.jpg" width="350" height="500" alt="Radiant / Радиант" title="Radiant / Радиант">
		</div>
	</div>
	<div class="clear"></div>
	<div class="tab-switcher">
		<div class="tab-content">
			<button class="active" data-tab="moonPlayer">Внешний плеер</button>
			<button data-tab="anilibriaPlayer" class="">Наш плеер</button>
			<button data-light class="xdark z-fix">Свет</button>
			<button data-torrent-edit class="">Торрент</button>
			<button class="">Редактировать</button>
			<button class="">Создать</button>
			<button data-release-delete class="">Удалить</button>
			
			<button data-online-table class="presence_online" title="Столько либрийцев смотрят это аниме прямо сейчас"></button>
			<div class="block_fix"></div>
		</div>
	</div>
	<div class="xplayer z-fix" id="moonPlayer">
		{moon}
	</div>
	<div class="xplayer z-fix" id="anilibriaPlayer"></div>
	<div class="download-torrent" style="margin-bottom: 10px;">
		<table id="publicTorrentTable">
			{torrent}
		</table>			
	</div>
	<div class="clear"></div>
</div>
