<div class="upcoming_season_block">
	<div class="upcoming_float_left">
		<h3 class="upcoming_season_name">{name} / {ename}</h3>
		<span class="upcoming_season_genres"><b>Жанры:</b> {genres}</span>
		<span class="upcoming_season_time"><b>Сезон:</b> {season}</span>
		<span class="upcoming_season_description"><b>Описание:</b> {description}</span>
		<div class="upcoming_season_btn_wrapper">
			{voteBtn}{favBtn}
			<br/>
			<span class="upcoming_season_votes"><b>Голосов:</b></span>
			<span class="upcoming_season_voted" id="{id}">{votes}</span>
		</div>
	</div>
	<img class="upcoming_season_image" src="{img}" alt="{name} / {ename}" />
	<div style="height: 0; clear: both;"></div>
</div>
