<article id="anime_detail">
    <header>
        <h1>{name}<br/><span>{name}</span></h1>
    </header>
    <div id="anime_detail_body">
        <img id="torrent_poster" src="../upload/torrent/{img}.jpg" alt="{name} / {ename}" title="__NAME__ / {ename}" />
        <p>
            <span><b>Жанры:&nbsp;</b></span>
            {genre}
            <br/>
            <span><b>Озвучка:&nbsp;</b></span>
            {voice}
            <br/>
            <span><b>Аниме сезон:&nbsp;</b></span>
            {season}
            <br/>
            <span><b>Тип:&nbsp;</b>{type}</span>
            <br/>
            <span><b>Перевод:&nbsp;</b></span>
            {translator}
            <br/>
            <span><b>Тайминг:&nbsp;</b></span>
            {timing}
            <br/>
            <span><b>Формление:&nbsp;</b></span>
            {design}
            <br/>
            <span><b>Состояние релиза:&nbsp;</b>{status}</span>
            <br/>
            <span><b>Технические параметры&nbsp;</b><small>(Спойлер)</small></span>
            <br/><br/>
            <b>Описание:&nbsp;</b>
            {description}
        </p>
        <div style="clear:both; height:0"></div>
        <hr class="red_hr"/>
        <h2>Скачать торрентом</h2>
		<table id="TorrentList" align="center">
			{table}
		</table>
        <br/>
		<div {edit}>
			<input type="file" name="torrent" accept=".torrent">
			<input type="text" name="rid">
			<input type="text" name="quality">
			<input type="text" name="episode">
			<button class="link_button" data-upload-torrent >Загрузить торрент</button>
		</div>
        {hidden}
    </div>
</article>
