<tr>
	<td class="torrentcol1">Серия {rnum} [{rtype}]</td>
	<td class="torrentcol2"><img style="margin-bottom: 3px;" src="/img/other/1.png" alt="dl"> {rsize} <img style="margin-bottom: 3px;" src="/img/other/2.png" alt="dl"> {seeders} <img style="margin-bottom: 3px;" src="/img/other/3.png" alt="dl"> {leechers} <img style="margin-bottom: 3px;" src="/img/other/4.png" alt="dl"> {completed}</td>
	<td class="torrentcol3">Добавлен {ctime}</td>
		<td class="torrentcol4"><img style="margin-bottom: 3px;" src="/img/other/5.png" alt="dl"> <a class="torrent-download-link" href="/upload/torrents/{fid}.torrent">Cкачать</a></td>
</tr>
