<article id="anime_detail">
    <header>
        <h1>__NAME__<br/><span>__ENAME__</span></h1>
    </header>
    <div id="anime_detail_body">
        <img id="torrent_poster" src="../upload/torrent/__IMG__.jpg" alt="__NAME__ / __ENAME__" title="__NAME__ / __ENAME__" />
        <p>
            <span><b>Жанры:&nbsp;</b></span>
            __GENRE__
            <br/>
            <span><b>Озвучка:&nbsp;</b></span>
            __VOICE__
            <br/>
            <span><b>Аниме сезон:&nbsp;</b></span>
            __SEASON__
            <br/>
            <span><b>Тип:&nbsp;</b>__TYPE__</span>
            <br/>
            <span><b>Перевод:&nbsp;</b></span>
            __TRANSLATOR__
            <br/>
            <span><b>Тайминг:&nbsp;</b></span>
            __TIMING__
            <br/>
            <span><b>Формление:&nbsp;</b></span>
            __DESIGN__
            <br/>
            <span><b>Состояние релиза:&nbsp;</b>__STATUS__</span>
            <br/>
            <span><b>Технические параметры&nbsp;</b><small>(Спойлер)</small></span>
            <br/><br/>
            <b>Описание:&nbsp;</b>
            __DESCRIPTION__
        </p>
        <div style="clear:both; height:0"></div>
        <hr class="red_hr"/>
        <h2>Скачать торрентом</h2>
		<table>
			__TABLE__
		</table>
        <br/>
        <a href="#" class="link_button">Загрузить торрент</a>
    </div>
</article>
